footer.bg-gris
	.container
		.row
			.col-xs-12.col-sm-6.col-md-3.col-lg-3
				h4 Accesories
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores inventore quis vitae, hic pariatur fuga quibusdam, dicta quaerat, fugit laudantium optio, quos nesciunt accusantium aperiam saepe dolor voluptatibus accusamus eos.
				nav.redes
					ul
						li: a(href="#")
							i.fa.fa-facebook
						li: a(href="#")
							i.fa.fa-twitter
						li: a(href="#")
							i.fa.fa-rss
						li: a(href="#")
							i.fa.fa-skype
						li: a(href="#")
							i.fa.fa-dribbble
			+nav-footer-links('My Account', 'My Account', 'Order History', 'Wish List', 'Newsletter', '#', '#', '#', '#')
			+nav-footer-links('Information', 'About Us', 'Delivery Information', 'Privacy Policy', 'Terms & Conditions', '#', '#', '#', '#')
			+nav-footer-links('Extras', 'Brands', 'Gift Vouchers', 'Affiliates', 'Specials', '#', '#', '#', '#')
			.col-xs-12.col-sm-6.col-md-3.col-lg-3
				h4 About Us
				span.address-icon
					i.fa.fa-map-marker
				span
					| 8901 Marmora Road, Glasgow D04 89
					br
					| GR, New York
				span.address-icon
					i.fa.fa-phone
				span
					| (0123)456789
					br
					| (0987)654321
				span.address-icon
					i.fa.fa-envelope
				span admin@bootexperts.com
footer
	.container
		.pull-left
			p Copyright &copy 2015
				a BootExperts
				span All rights reserved.
		.pull-right
			img(src="assets/images/payment.png", alt="Tarjetas afiliadas")