.contact-us
	.hero-title-contact
		.container
			.row
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					h1 Contact Us
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					h6 Contact info
					p phone: 0(1234) 567 890
					p Mail: Info@roadthemes.com
					p Address: No 40 Baria Street 133/2 New York City. NY. United States.
			.row
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.900235295802!2d-77.03633230239872!3d-12.118978160066211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9ad1800415d%3A0x75a39531fec524aa!2sLaboratoria.la!5e0!3m2!1ses-419!2spe!4v1459369696479" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen)
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							input(type="text" name="name" required="required" placeholder="First name")
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							input(type="text" name="name" required="required" placeholder="Last name")
					.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							input(type="text" name="name" required="required" placeholder="Email")
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							input(type="text" name="name" required="required" placeholder="Website")
					.row
						.col-md-12
							input(type="text" name="name" required="required" placeholder="Subject")
					.row
						.col-md-12
							textarea(type="text" name="name" required="required" placeholder="Message")
			button.pull-right(type="submit" name="submit" class="btn btn-default" value="text") SEND