include mixins
doctype
html(lang="en")
	head
		title Fashion Accesories
		meta(CHARSET="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		//-link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/fonts/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="assets/css/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', type='text/css')
	body
		include header
		section.main.text-center.w-100
			include home
		include footer
		script(type="text/javascript" src="assets/js/jquery.js")
		script(type="text/javascript" src="assets/js/bootstrap.min.js")